@font-face {
  font-family: "w95fa";
  font-display: swap;
  src: url("fonts/W95FA.ttf") format("truetype"),
    url("fonts/W95FA.otf") format("opentype"),
    url("fonts/w95fa.woff") format("woff"),
    url("fonts/w95fa.woff2") format("woff2");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "W95FA", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}

.anchor {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.6575rem;
}

.logo a {
  font-family: "W95FA", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.entry-header h1 {
  font-family: "W95FA", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.entry-header h2 {
  font-family: "W95FA", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.65rem;
  line-height: 95%;
}

.post-title {
  font-family: "W95FA", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.chroma {
  background-color: unset;
}